<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>The Gossip Project - Gossip</title>
    </head>

    <body>

       

    <div class="card" style="width: 18rem;">
       <div class="card-body">
         <h5 class="card-title">Potins</h5>
         <h6 class="card-subtitle mb-2 text-muted"><h1>Voici la page du potin n°<%= @gossip_searched.id %></h1></h6>
         <p class="card-text"><p> Potin <%= @gossip_searched.title%> </p>
                  
          <p>Son auteur :
            <%= link_to("/author/#{@gossip_searched.user_id}") do %> 
              <%=@gossip_searched.user.first_name %> <%=@gossip_searched.user.last_name %>
            <% end %>
          </p>
        
         <p>Le contenu du potin : <%= @gossip_searched.content %></p>
         <p>Créé le : <%= @gossip_searched.created_at %></p>

        </div>
     </div>     
    
    </body>
</html>